.AdminServicesPage {
    width: 100dvw;
    height: 120dvh;
    /* padding-top: 50dvh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dad3d3;
    gap: 8dvh;
}

.form {
    width: 25dvw;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5dvh;
    border: 2px solid #ffffff;
    padding: 3dvw 0;
    border-radius: 20px;
}

.form input {
    width: 65%;
    height: 5dvh;
    border-radius: 5px;
    outline: none;
    background: none;
    border: none;
    border: 2px solid #ffffff;
    padding-left: 1dvw;
}

.form button {
    width: 65%;
    height: 7dvh;
    border-radius: 5px;
    background: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
}

.services-list {
    width: 25dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3dvh;
    border: 2px solid #ffffff;
    padding: 3dvw 0;
    border-radius: 20px;
}

.services-list h4 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
}

.services-list input {
    width: 65%;
    height: 5dvh;
    border-radius: 5px;
    outline: none;
    background: none;
    border: none;
    border: 2px solid #ffffff;
    padding-left: 1dvw;
}

.services-list button {
    width: 65%;
    height: 5dvh;
    border-radius: 5px;
    background: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
}