.admin-navbar {
    background-color: #222;
    padding: 2dvh 3dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-navbar ul {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1dvw;
}

.admin-navbar ul li a {
    width: 7dvw;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.admin-navbar ul button {
    width: 6dvw;
    height: 4dvh;
    background: none;
    border: none;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
}

.admin-navbar select {
    width: 3dvw;
    height: 4dvh;
    background: none;
    border: none;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: #ffffff;
}